body {
    color: white;
    background-color: #002040;
    width: 100%;
    margin: auto;
    font-family: "courier new", monospace
}

div.thesis { margin: auto; max-width: 30em; font-size: smaller }

a { padding: 0.3em 0 }
a, a:link, a:visited, a:hover { color: white; text-decoration: none }
a:hover { border-bottom: solid white }

h1, h2, h3, p { text-align: center }
h1 { margin: 1em 0 0 0; font-size: x-large }
h2, h3 { margin: 2em 0 1em 0 }
p { margin: 1em 0 .5em 0 }

img { border: 0; margin: 0 .5em }
